.EventsPage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    
    background-color: #F79F1E;
    background-image: url("../../images/set.png");
    background-repeat: repeat;
    overflow: hidden;
    padding-top:1vh;
   
  }

  .EventsCards-Container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top:10vh;
    justify-content: center;
    align-items: center;
  }
  .Event-Heading{
    color: #fff;
    font-size: 15vh;
    padding-bottom: 6vh;
  
  }