


/* 
#EventsCard1 {
  width: fit-content;
  min-width: 250px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../../images/Maskgroup.svg);
  background-color: #ea4fa7  ;
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  margin-top: 20px;
  border-radius: 20px;
  
  position: relative;
}

#EventsCard2 {
  width: fit-content;
  min-width: 250px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../../images/MaskGroup.svg);
  background-color: #FFF3E2  ;
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #EC1B92;
  margin-top: 20px;
  border-radius: 20px;

  position: relative;
} */

.EventsCard {
  position: relative;
  height: 24rem; 
  width: 18rem; 
  border-radius: 0.75rem;
  
 
}

.EventsCard0 {
  width: fit-content;
  min-width: 250px;
  height: 40vh;
  position: absolute;
  display: flex;
  place-content: center;
  border-radius: 0.75rem;
  background-color: #ffffff;
  background-image: url(../../images/MaskGroup.svg);
  background-color: #EC1B92  ;
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  justify-content:center;
  align-items: center;
  z-index: 20;
 
}

.EventsCard1{
  width: fit-content;
  min-width: 250px;
  height: 40vh;
  position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    display: grid;
    place-content: center;
    border-radius: 0.75rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url(../../images/Maskgroup.png);
    background-color: #FFF3E2  ;
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #EC1B92;
    margin-top: 20px;
    border-radius: 10px;
    
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 20;
    
}

.EventsCard2{
  width: fit-content;
  min-width: 250px;
  height: 40vh;
  position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    display: grid;
    place-content: center;
    border-radius: 0.75rem;
    background-color: #ffffff;
 
    background-image: url(../../images/MaskGroup.svg);
    
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #EC1B92;
    margin-top: 20px;
    border-radius: 10px;
  
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 20;
   
}

.EventsCard-Title-Container{
  text-align: center;
  display: flex;
  justify-content:center;
  font-size: 7vh; 
  width: 70%;
  
  
  
  
}

.BackCard{
  position: absolute;
  width: fit-content;
  min-width: 250px;
  height: 34vh;
  background-color: rgb(222, 136, 23);
  transition :all 1s;
  transform-origin: bottom right; 
  transform: scale(0.9);
  z-index: 10;
  top: 12px;
  bottom: 1px;
  right: 27%;
  border-radius: 10px;
  

}


.group{

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition :all 1s;
}
.view{
  width: 440px;
  
}

.group:hover{ 
  transform: scale(1.0)  rotate(-8deg) ;
  
  
}



.group:hover .BackCard {
  transform: scale(0.8) rotate(28deg); 
  width: fit-content;
  min-width: 250px;
  height: 40vh;
  background-color: rgb(255, 238, 0);
  position: absolute;
  z-index: 10;
  border-radius: 10px;
}



.view:hover{
  overflow: hidden;
  
  
}



