.Team {
  background-image: url("../../images/set.png");
  background-color: #f5793b;
  width: 100%;
  height: fit;
}

.Team h1 {
  width: 100%;
  text-align: center;
  padding: 6% 0;
  color: white;
  font-size: 5vw;
}

.Teams {
  width: 100%;
  height: fit;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
  overflow: hidden;
}

.Team-each {
  height: fit;
  width: 500px;
  padding: 0 10%;
  overflow: hidden;
}

.Team-each img {
  cursor: pointer;
}

.Team-each img:hover {
  transform: scale(1.04);
  transition: 0.5s;
}

@media (max-width: 700px) {
  .Team-each {
    margin: 0px;
  }

  .Team h1 {
    font-size: 10vw;
    padding: 10% 0;
  }
  .Teams {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

  .Team-each {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .Team-each img {
    width: 90%;
  }
}
